th {
    background-color: rgb(37, 47, 138) !important;
    color: white;
    font-size:small;
    font-weight: 300;
}
.bold {
    font-weight: bold;
}
.col-width-1 {
    width:80px !important; 
}
.col-width-2 {
    width: 200px !important; 
}


.NotReady {
    background-color: #c28c95; 
    // color: white;
}
.EarlyDays {
    background-color: rgb(189, 134, 31); 
    // color: white;
}
.Challenging {
    background-color: gray; 
    // color: black;
}
.MIRD {
    background-color: rgb(188, 188, 26);
    // color: black;
}
.GM {
    background-color: lightskyblue; 
    // color: white;
}
.Strong {
    background-color: rgb(37, 143, 37); 
    // color: white;
}