i {
    color: white;
    border: none;
    margin: 0px;
    border-style: none;
}
.example-icon{
    cursor: pointer !important;
}
.fa-bars{
    border: none !important;
    cursor: pointer !important;
}
.toolbar {
  //  background: linear-gradient(90deg, #325f90, #7070ce);
     background-color: #325f90;
    // background-color: rgb(50, 80, 126);
    border-radius: 10px 10px 0 0
}

.name {
    color: white;
}
  
.example-spacer {
    flex: 1 1 auto;
  }
  
  .homeButton {
    background-color: #72dcac;
  }

