.toolbar {
    background-color: #325f90;
    border-radius: 10px 10px 0 0;
    padding: 0 10px;
}

.name {
    color: white;
}

.example-icon {
    cursor: pointer !important;
}

.fa-bars {
    border: none !important;
    cursor: pointer !important;
}

.example-spacer {
    flex: 1 1 auto;
}

.homeButton {
    background-color: #72dcac;
}

.sidebar {
    background-color: #3b9fd4;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

mat-list-item.active {
    background-color: #f3f6f7 !important;
    color: black !important;
}

mat-list mat-list-item {
    color: white;
    border: 0.5px solid white;
    cursor: pointer;
}

mat-list {
    padding-top: 0;
}
i{
    color: white;
}
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}