<mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="10%">
    <div *ngIf="!dbService.isHomeRoute" mat-icon-button class="example-icon btn" (click)="toggleSidebar()">
      <i class="fas fa-bars menuIcon"></i>
    </div>
  </div>
  <div fxFlex="80%" fxLayout="row" fxLayoutAlign="center center">
    <span class="ms-2 name" [routerLink]="'/home'">DevSecOps-Maturity-Assessment</span>
  </div>
  <span class="example-spacer"></span>

  <div fxFlex="10%">
    <div *ngIf="!dbService.isHomeRoute" mat-icon-button (click)="home()" class="btn homeButton example-icon button-hand name">
      <b><mat-icon>home</mat-icon></b>
    </div>
  </div>
</mat-toolbar>