img {
    height: 150px;
    object-fit: cover;
    width: 100%;
}

.options {
    align-items: center;
    text-align: center;
}

button {
    cursor: pointer !important;
}

@media (max-width: 768px) {
    .card {
        margin: 1rem auto;
        width: 100%;
    }
}

.card {
    width: 100%;
    max-width: 18rem;
    margin: 1rem auto;
}
