<div class="container">
    <table class="styled-table table mt-5 table-bordered w-75 mx-auto">
        <thead>
            <tr>
                <th>DevOps Pipeline Practice</th>
                <th>Score</th>
                <th>Total Achievable Score</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tbl of table1; let last = last" [ngClass]="{'bold': last}">
                <td>{{tbl.dpp}}</td>
                <td>{{tbl.achievedScore}}</td>
                <td>{{tbl.totalScore}}</td>
            </tr>
            <tr>
                <td class="bold"> DevOps Practices Maturity</td>
                <!-- <td class="bold">{{devOpsPracticeMaturity}}</td> -->
                <td [ngClass]="{
                    'Basic': devOpsPracticeMaturity === 'Basic',
                    'Initial': devOpsPracticeMaturity === 'Initial',
                    'Developing': devOpsPracticeMaturity === 'Developing',
                    'Mature': devOpsPracticeMaturity === 'Mature',
                    'Optimized': devOpsPracticeMaturity === 'Optimized'
                }">{{devOpsPracticeMaturity}}</td>
            </tr>
        </tbody>
    </table>
    <table class="styled-table table mt-5 table-bordered w-75 mx-auto">
        <thead>
            <tr>
                <th class="col-width-1">Maturity Level</th>
                <th class="col-width-2">Description</th>
                <th class="col-width-3">Score</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tbl of table2; ">
                <td class="col-width-1">{{tbl.ml}}</td>
                <td class="col-width-2">{{tbl.description}}</td>
                <td class="col-width-3">{{tbl.score}}</td>
            </tr>
           
        </tbody>
    </table>
</div> 