<div class="page">
    <h2 class="title">{{table[currentQuestionIndex].theme}}</h2>

    <div class="card mt-2" *ngIf="currentQuestionIndex < table.length">
        <div class="card-body">
            <div class="ps">{{table[currentQuestionIndex].id}}: {{table[currentQuestionIndex].enabler}}</div>
            <div *ngIf="SOTIsArray">
                <ul>
                    <li *ngFor="let reason of reasonsArray">{{reason}}</li>


                </ul>
            </div>
            <p *ngIf="!SOTIsArray">
                {{table[currentQuestionIndex].someOfTheThingsYouMightSee}}
            </p>

            <b class="ps">I see this in my org:</b>
            <div class="form-check form-switch" *ngFor="let option of table[currentQuestionIndex].progress">
                <input class="form-check-input" type="radio" name="{{table[currentQuestionIndex].id}}-option"
                    id="{{table[currentQuestionIndex].id}}-{{option}}" value="{{option}}"
                    [(ngModel)]="table[currentQuestionIndex].selectedOption">
                <label class="form-check-label" for="{{table[currentQuestionIndex].id}}-{{option}}">
                    {{option}}
                </label>
            </div>
            <br>
            <b class="ps">Selected:</b> {{table[currentQuestionIndex].selectedOption}}
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" (click)="previousQuestion()" *ngIf="currentQuestionIndex > 0">Previous</button>
        <button class="btn btn-success" (click)="nextQuestion()"
            *ngIf="currentQuestionIndex < table.length - 1">Next</button>
        <button class="btn btn-success" (click)="save(table,true)"
            *ngIf="currentQuestionIndex === table.length - 1 ">Save</button>

        <button class="btn btn-danger" (click)="download(table)"
            *ngIf="currentQuestionIndex === table.length - 1 ">Download</button>
    </div>
</div>